@import "tailwindcss";

/* Sumber file yang mengandung class Tailwind (relative dari file ini: resources/css/app.css) */
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../views/**/*.blade.php";
@source "../js/**/*.js";

/* Optional: tema font SeduhRasa */
@theme {
  --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
               "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
